@media (min-width: 1300px){
  h1{
    font-size: 5em;
  }
}

@media(max-width: 1100px){
  #img-caption{
    top: 13em;
    right: 5em;
  }
  figure h1{
    font-size: 2em;
  }
  .img-tag{
    font-size: 1.5em;
  }
  figure p{
    font-size: 1em;
  }
  #influences p{
    width: 50%;
  }
}

@media (min-width:860px){
  .bio, .awards, .publications{
    display: flex;
    margin-bottom: 5em;
  }

  #biography p, #recognition ul{
    margin-left: 4em;
  }

  .bio .left-column, .awards .left-column, .publications .left-column{
    width: 40%;
    text-align: right;
  }

  .bio .right-column, .awards .right-column, .publications .right-column{
    width: 60%;
    text-align: left;
  }
}

@media(max-width: 859px){
  /* sections */
  section h2{
    font-size: 2em;
  }
  section h3{
    font-size: 1.5em;
    margin-bottom: 1em;
    width: 100%
  }
  section p{
    width: 100%;
  }

  #influences p{
    text-align: left;
    width: 70%;
  }

  section ul{
    margin-bottom: 2em;
  }
}

/* mobile layout */
@media(max-width: 752px){
  /* navbar */
  .tagline{
    font-size: 0.8em;
  }
  .menu{
    display: none;
  }

  /* hero */
  #img-caption{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 3em;
    left: 0;
  }
  #img-caption h1{
    font-size: 3em;
  }
  .img-tag{
    font-size:2em;
  }
  .img-title{
    font-size: 1em;
  }
}
